@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

.contactez-nous {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 700px;
  max-width: 100%;
  padding: 40px 50px;
  text-align: center;
}

h1 {
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 14px;
}

input,
select {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  width: 100%;
  border-radius: 20px;
  font-size: 14px;
}

button {
  border-radius: 20px;
  border: 1px solid #a01d06;
  background-color: #9d1a03;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  transition: transform 0.2s;
  cursor: pointer;
  align-self: center;
  margin-top: 30px;
}

button:hover {
  transform: scale(1.05);
}
.logo-form {
  width: 100px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}